.navBarContainer {
    background-color: #072441;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navBarLogoTitulo {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  
}

.navBarLogo {
  height: 40px; 
  width: auto;
  margin-right: 1rem;
}

.navBarTitulo {
    color: #ecf0f1;
    font-size: 1.5rem;
    font-weight: bold;
}

.navBarLinks {
    display: flex;
    align-items: center;
    gap: 0.8rem; 
    font-weight: bold;
}

.navBarLinks a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.navBarLinks a:hover {
    background-color: #294866; 
}

.IniciarSesionButton {
    background-color: #2865a1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.navBarLinks a.IniciarSesionButton:hover {
  background-color: #4574a3;
  border: 1px solid #ffffff;
  padding: 0.4rem 0.95rem; 
}


/* =======================
   Boton hamburguesa menu
======================= */
.menuToggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
}

/* =======================
   tablet
======================= */
@media (max-width: 1024px) {

  .menuToggle {
    display: block;
  }

  .navBarLinks {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #072441;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    display: none;
  }

  .navBarLinks.active {
    display: flex;
  }

  .navBarLinks a {
    padding: 1rem;
    border-radius: 0;
    border-top: 1px solid #294866;
    text-align: center;
  }

  .IniciarSesionButton {
    margin: 1rem;
    text-align: center;
  }
}

/* =======================
   movil
======================= */
@media (max-width: 600px) {

  .navBarContainer {
    padding: 0.8rem 1.2rem;
  }

  .navBarTitulo {
    font-size: 1.2rem;
  }

  .navBarLogo {
    height: 32px;
  }
}
