.variableDetailContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.volverButton {
  font-size: 0.95rem;
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}

.volverButton:hover {
  color: #1e3a8a;
}

.variableDetailTitulo {
  color: #0b1722;
  font-size: 2.5rem;
  font-weight: bold;
}

.variableSubtitulo {
  font-size: 1.2rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.variablePromediosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.variablePromediosContainer > div {
  background-color: #f9fafb;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.variablePromediosContainer h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 1rem;
  text-align: center;
  min-height: auto;
}

.boxplotWrapper {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.boxplotWrapper > div {
  width: 100%;
  max-width: 1100px; 
  height: auto;
}

.importanciaContainer {
  margin-top: 2rem;
  text-align: center;
  padding: 30px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid #b9b9b9;
}

.importanciaContainer h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.tablaNivelesContainer {
  margin-top: 40px;
  font-size: 1rem;
}

.tablaNivelesTitulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.tablaNiveles {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.tablaNiveles th, .tablaNiveles td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tablaNiveles th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.tablaNiveles tr td:first-child {
  font-weight: 500;
}

.separador {
  margin-top: 40px;
  border: 0;
  border-top: 2px solid #ccc;
}


/* para responsive */
@media (max-width: 768px) {
  .variablePromediosContainer {
    grid-template-columns: 1fr;
  }

  .graficoTiempoReal {
    height: 250px;
  }
}