.subtituloPromedio{
    font-weight: normal;
    text-align: center;
}

.subtituloPromedioSemana{
    font-weight: normal;
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
}

.nivelDesviacionContainer{
    font-size: 0.9rem;
    text-align: center;
    
}