.termometroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.termometroTitulo {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}

.termometroContainer {
  position: relative;
  height: 160px;
  width: 45px;
  background-color: #ecf0f1;
  border-radius: 25px;
  border: 2px solid #7f8c8d;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.termometroTubo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: flex-end; 
}

.termometroMercurio {
  width: 100%;
  transition: height 0.8s ease, background-color 0.5s ease;
}

.termometroFlecha {
  position: absolute;
  right: -18px;
  font-size: 1.1rem;
  transition: bottom 0.4s ease;
}

.termometroValor {
  margin-top: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.termometroLabel{
   margin-top: 1rem;
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}